pkgbase = wechat-universal-bwrap
	pkgdesc = WeChat (Universal) with bwrap sandbox
	pkgver = 4.0.0.23
	pkgrel = 2
	url = https://weixin.qq.com
	install = wechat-universal.install
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = proprietary
	license = GPLv3
	makedepends = patchelf
	depends = at-spi2-core
	depends = bubblewrap
	depends = flatpak-xdg-utils
	depends = jack
	depends = libpulse
	depends = libxcomposite
	depends = libxdamage
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = mesa
	depends = nss
	depends = pango
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-desktop-portal
	depends = xdg-user-dirs
	provides = wechat-universal
	conflicts = wechat-universal
	replaces = wechat-beta
	replaces = wechat-beta-bwrap
	noextract = wechat-universal-4.0.0.23_x8664.deb
	noextract = wechat-universal-4.0.0.23_aarch64.deb
	noextract = wechat-universal-4.0.0.23_loong64.deb
	options = !strip
	options = !debug
	source = wechat-universal.sh
	source = wechat-universal.desktop
	sha256sums = cbaf57f763c12a05aa42093d8bdb5931a70972c3b252759ad9091e0d3350ebd1
	sha256sums = 0563472cf2c74710d1fe999d397155f560d3ed817e04fd9c35077ccb648e1880
	source_x86_64 = wechat-universal-4.0.0.23-x86_64.deb::https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.23_amd64.deb
	sha256sums_x86_64 = 437826a3cdef25d763f69e29ae10479b5e8b2ba080b56de5b5de63e05a8f7203
	source_aarch64 = wechat-universal-4.0.0.23-aarch64.deb::https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.23_arm64.deb
	sha256sums_aarch64 = a08b0f6c4930d7ecd7a73bd701511d9b29178dbe73ba51c04f09eb9e1b3190f7
	source_loong64 = wechat-universal-4.0.0.23-loong64.deb::https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.23_loongarch64.deb
	sha256sums_loong64 = 82b8fdc861d965a836d25e6cf0881c927bd4bf3d1f04791a9202ac39efab8662

pkgname = wechat-universal-bwrap
