pkgbase = wechat-universal-bwrap
	pkgdesc = WeChat (Universal) with bwrap sandbox
	pkgver = 4.0.1.7
	pkgrel = 1
	url = https://linux.weixin.qq.com/
	install = wechat-universal.install
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = proprietary
	license = GPLv3
	makedepends = patchelf
	depends = at-spi2-core
	depends = bubblewrap
	depends = flatpak-xdg-utils
	depends = jack
	depends = libpulse
	depends = libxcomposite
	depends = libxdamage
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = mesa
	depends = nss
	depends = pango
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-desktop-portal
	depends = xdg-user-dirs
	provides = wechat-universal
	conflicts = wechat-universal
	replaces = wechat-beta
	replaces = wechat-beta-bwrap
	noextract = wechat-universal-4.0.1.7-x86_64.deb
	noextract = wechat-universal-4.0.1.7-aarch64.deb
	noextract = wechat-universal-4.0.1.7-loong64.deb
	options = !strip
	options = !debug
	options = emptydirs
	source = wechat-universal.sh
	source = wechat-universal.desktop
	source = libuosdevicea.c
	source = libuosdevicea.Makefile
	sha256sums = effef03854827bcd02b0476d33e62f9c7ef1f87f949e89847e1f052c6f09f841
	sha256sums = 0563472cf2c74710d1fe999d397155f560d3ed817e04fd9c35077ccb648e1880
	sha256sums = fc3ce9eb8dee3ee149233ebdb844d3733b2b2a8664422d068cf39b7fb08138f8
	sha256sums = f05f6f907898740dab9833c1762e56dbc521db3c612dd86d2e2cd4b81eb257bf
	source_x86_64 = wechat-universal-4.0.1.7-x86_64.deb::https://dldir1v6.qq.com/weixin/Universal/Linux/WeChatLinux_x86_64.deb
	sha256sums_x86_64 = 88ea106a68fac96bc17c4209f856f45fa13e105625dc49cf8644d1b2d882f7a9
	source_aarch64 = wechat-universal-4.0.1.7-aarch64.deb::https://dldir1v6.qq.com/weixin/Universal/Linux/WeChatLinux_arm64.deb
	sha256sums_aarch64 = 6758c8b1f9a42c2dbd5a96332139ace2cf999ec1bc00994adac880559a9f997f
	source_loong64 = wechat-universal-4.0.1.7-loong64.deb::https://dldir1v6.qq.com/weixin/Universal/Linux/WeChatLinux_LoongArch.deb
	sha256sums_loong64 = 598e89861688fe48ce6342ebc3ec9ea3c3306aad0e8ba4b3c86413931b327eba

pkgname = wechat-universal-bwrap
