pkgbase = wechat-universal-bwrap
	pkgdesc = WeChat (Universal) with bwrap sandbox
	pkgver = 4.0.0.21
	pkgrel = 1
	url = https://weixin.qq.com
	install = wechat-universal.install
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = proprietary
	license = GPLv3
	makedepends = patchelf
	depends = alsa-lib
	depends = at-spi2-core
	depends = bubblewrap
	depends = flatpak-xdg-utils
	depends = libxcomposite
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = mesa
	depends = nss
	depends = pango
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-desktop-portal
	depends = xdg-user-dirs
	provides = wechat-universal
	conflicts = wechat-universal
	replaces = wechat-beta
	replaces = wechat-beta-bwrap
	noextract = com.tencent.wechat_4.0.0.21_amd64.deb
	noextract = com.tencent.wechat_4.0.0.21_arm64.deb
	noextract = com.tencent.wechat_4.0.0.21_loongarch64.deb
	options = !strip
	options = !debug
	source = fake_dde-file-manager
	source = wechat-universal.sh
	source = wechat-universal.desktop
	sha256sums = b25598b64964e4a38f8027b9e8b9a412c6c8d438a64f862d1b72550ac8c75164
	sha256sums = e3beb121edcb1e6f065226aec9137a7e38fd73af4030ee0e179427162a230fdc
	sha256sums = 0563472cf2c74710d1fe999d397155f560d3ed817e04fd9c35077ccb648e1880
	source_x86_64 = https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.21_amd64.deb
	sha256sums_x86_64 = d6d3bc011b762ee0b03f3eeb3b6e7ff5d4ce21ff51c2a73d4ddaa26534e88d19
	source_aarch64 = https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.21_arm64.deb
	sha256sums_aarch64 = 5e5f9b4ff597679f2b721bd404031f71da8cc4e211c69e6ac8c444fc5bc40bd2
	source_loong64 = https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.21_loongarch64.deb
	sha256sums_loong64 = 6fa8f7cb5d0739d46f2a84d363d8f68c6a0cfd6f57023748ad035903d75d994c

pkgname = wechat-universal-bwrap
